

@{
    ViewData["Title"] = "Danh sách Chủ đề";

    Layout = "_Layout";
    var threads = ViewBag.Threads as IEnumerable<_4roomforum.DTOs.ThreadDTO>;
    var hotThreads = ViewBag.HotThreads as IEnumerable<_4roomforum.DTOs.ThreadDTO>;
}

<div class="container mt-5">
    <div class="row">
        <!-- Hot Topics Sidebar -->
        <div class="col-md-3">
            <h2 class="text-center text-primary">Chủ đề Hot</h2>
            <ul class="list-group">
                @foreach (var thread in hotThreads)
                {
                    <a href="#" class="list-group-item list-group-item-action bg-light">@thread.ThreadTitle</a>
                }
            </ul>
        </div>
        <!-- Detailed Topics Main Content -->
        <div class="col-md-9">
            <h2 class="text-center text-success">Danh sách Chủ đề</h2>
            <div class="list-group">
                @foreach (var thread in threads)
                {
                    <a 
                        class="list-group-item list-group-item-action bg-light" 
                        asp-controller="Post" 
                        asp-action="Index" 
                        asp-route-id="@thread.ThreadId"
                        asp-route-userId="@User.FindFirst("UserId")?.Value">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@thread.ThreadTitle</h5>
                            <small>Ngày tạo: @thread.CreatedDate</small>
                        </div>
                        <h6 class="mb-1">Chuyên mục: @thread.CategoryID</h6>
                        <p class="mb-1">@thread.ThreadContent</p>
                        <small>Được tạo bởi: @thread.CreatedBy</small>
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <span class="badge bg-info text-dark">Lượt xem: @thread.ViewCount</span>
                            @if (thread.IsPinned == 0)
                            {
                                <span class="badge bg-secondary text-dark">Không được ghim</span>
                            }
                            else
                            {
                                <span class="badge bg-warning text-dark">Được ghim</span>
                            }
                            
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
