@{
    ViewData["Title"] = "Home";
    var categories = ViewBag.Categories as IEnumerable<_4roomforum.DTOs.CategoryDTO>;
    
    int countCategories = 1;
    var hotThreads = ViewBag.HotThreads as IEnumerable<_4roomforum.DTOs.ThreadDTO>;
    int countHotThreads = 1;
    var post = ViewBag.Posts as IEnumerable<_4roomforum.DTOs.PostDTO>;
    int countPosts = 1;
    
}

<div class="container mt-5">
    <!-- General Introduction Section -->
    <div class="jumbotron text-center bg-light p-5" style="background-image: url('/imgs/wallpaper.jpg'); background-size: cover; background-position: center;">
        <h1 class="display-4 text-white">Welcome to _4roomforum</h1>
        <p class="lead text-white">A place to discuss and share your thoughts on various topics.</p>
    </div>


    <div class="row mt-4">
        <!-- Categories Sidebar -->
        <div class="col-md-3">
            <h2 class="text-center text-primary">Các chuyên mục</h2>
            <ul class="list-group">
                @foreach (var category in categories)
                {
                    if (countCategories++ > 4)
                    {
                        break;
                    }
                    <a asp-controller="Thread" asp-action="Index" asp-route-id="@category.CategoryId" class="list-group-item list-group-item-action bg-light"><li class="list-group-item">@category.CategoryName</li></a>
                }
                
            </ul>
            <a asp-action="Index" asp-controller="Category" class="list-group-item list-group-item-action bg-light">Xem thêm ...</a>
        </div>

        <!-- Topics Main Content -->
        <div class="col-md-6">
            <h2 class="text-center text-success">Top Chủ Đề</h2>
            <div class="list-group">
                @foreach (var thread in hotThreads)
                {
                    if (countHotThreads++ > 5)
                    {
                        break;
                    }
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@thread.ThreadId" class="list-group-item list-group-item-action bg-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@thread.ThreadTitle</h5>
                            <small>@thread.CreatedDate</small>
                        </div>
                        <p class="mb-1">@thread.ThreadContent</p>
                    </a>
                }
            </div>
            
        </div>

        <!-- Top Posts Sidebar -->
        <div class="col-md-3">
            <h2 class="text-center text-danger">Các Bài Viết</h2>
            <ul class="list-group">
                @foreach (var p in post)
                {
                    if (countPosts++ > 5)
                    {
                        break;
                    }
                    <a asp-controller="Reply" asp-action="Index" asp-route-PostId="@p.Id" class="list-group-item list-group-item-action bg-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@p.PostTitle</h5>
                            <small>@p.PostDate</small>
                        </div>
                        <p class="mb-1">@p.PostContent</p>
                    </a>
                }
        </div>
    </div>
</div>
